*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
     
    background-color: alicebl ue;
    min-height: 100vh;
    border:10px solid  rgb(28, 6, 49);
}
.content{
    max-width: 900px;
    margin: 0 auto;

}
.image_con{
     border-radius:50% ;
     overflow: hidden;
}
.top_section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .top_section h1 {
    font-size: 50px;
    font-weight: bold;
    color: #1d1e4c;
    text-transform: uppercase;
  }
  .top_section h4 {
    font-size: 30px;
    text-align: end;
  }
  
.image_con{  
   img{
    width: 350px;
    height: 250px;
   }
}
